.add_task_table {
	display: table;
}

.add_task_header_row {
	display: table-header-group;
}

.add_task_heading {
	display: table-cell;
	padding: 5px;
}

.add_task_row {
	display: table-row;
}

.add_task_row_item {
	display: table-cell;
	padding: 5px;
}

.view_task_table {
	display: table;
}

.view_task_header_row {
	display: table-header-group;
}

.task_completed_heading, .task_name_heading, .task_due_date_heading, .task_due_time_heading {
	display: table-cell;
	padding-left: 5px; /* padding to left and right required to have space between table elements */
	padding-right: 5px;
}

.task_completed, .task_name, .task_due_date, .task_due_time, .task_edit_button, .task_delete_button {
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
}

.task_completed_heading, .task_completed {
	width: 50px;
}

.task_completed_checkbox {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.task_name_heading, .task_name {
	width: 250px;
}

.task_due_date_heading, .task_due_date {
	width: 100px;
}

.task_due_time_heading, .task_due_time {
	width: 100px;
}

.task_edit_button, .task_delete_button {
	width: 30px;
}