<span class="task_completed"></span>
<span class="task_name"><input ng-model="taskToEdit.name" type="text" name="" id="" /></span>
<span class="task_due_date"><input ng-model="taskToEdit.dueDate" type="text" name="" id="" /></span>
<span class="task_due_time"><input  ng-model="taskToEdit.dueTime" type="text" name="" id="" /></span>
<span class="task_save_changes"><button ng-click="saveTaskEdit()" ui-sref="todo">Save</button></span>
<span class="task_cancel_changes"><button ui-sref="todo">Cancel</button></span>