<h2>Add a new task:</h2>
<form>
<div class="add_task_table">
	<div class="add_task_header_row">
		<h3 class="add_task_heading">Name</h3>
		<h3 class="add_task_heading">Due date</h3>
		<h3 class="add_task_heading">Due time</h3>
	</div>
	<div class="add_task_row">
		<span class="add_task_row_item"><input ng-model="taskName" type="text" name="" id=""></span>
		<span class="add_task_row_item"><input ng-model="taskDueDate" type="text" name="" id="" /></span>
		<span class="add_task_row_item"><input ng-model="taskDueTime" type="text" name="" id="" /></span>
		<span class="add_task_row_item"><input ng-click="addTask()" type="submit" value="Add task" /></span>
		<span class="add_task_row_item"><button ng-click="clearFields()">Clear input</button></span>
	</div>
</div>
</form>

<h2>Current tasks:</h2>
<div class="view_tasks_table">
	<div class="view_task_header_row">
		<h3 class="task_completed_heading">Done?</h3>
		<h3 class="task_name_heading">Name</h3>
		<h3 class="task_due_date_heading">Due date</h3>
		<h3 class="task_due_time_heading">Due time</h3>
	</div>
	<div class="view_task_row" ng-repeat="task in taskList">
		<div ng-if="getTaskEditState(task.id)" ui-view="editTask"></div>
		<div ng-if="!getTaskEditState(task.id)" ui-view="viewTask"></div>
	</div>
</div>