<span class="task_completed"><input class="task_completed_checkbox" ng-model="task.completed" ng-click="taskCompletedChange()" type="checkbox" name="" id=""></span>
<span class="task_name">{{task.name}}</span>
<span class="task_due_date">{{task.dueDate}}</span>
<span class="task_due_time">{{task.dueTime}}</span>
<span class="task_edit_button"><button ng-click="passEditTask(task.id)" ui-sref="todo.editTask({ taskId: task.id })">Edit</button></span>
<span class="task_delete_button"><button>Delete</button></span>